/* Add CSS Styling */
p {
  background-color: #e3a2ba;
  font-family: 'Verdana', 'DejaVu Sans', 'sans-serif';
  
}

#Number2 {
  color: hsl(236, 100%, 50%);
    font-size: 36px;
}
.Number3 {
  font-size: 24px;
}

#Number4 {
  background-color: rgb(0, 300, 0);
  font-size: 24px;
  font-weight: bold;
}